* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}

button {
  cursor: pointer;
}

.App {
  height: 100vh;
  display: flex;
}
/*Landing*/
.landing {
  height: inherit;
  width: 100%;
  text-align: center;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.landing-content {
  height: 100%;
  display: flex;
}
.landing-info {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing-img {
  flex: 50%;

  background-color: gray;
}

.landing-img img {
  height: 100%;
  width: 100%;
}
.landing-title {
  font-size: 4rem;
  font-weight: bold;

  color: #0f0f09;
}
.landing-subtitle {
  font-size: 1.5rem;

  color: #0f0f09;
}
nav {
  display: flex;
  justify-content: space-between;
}

.logo-land {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1e2f23;
  margin: 15px;
}

.logo-land span {
  font-size: 1rem;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.login-register {
  display: flex;
  align-items: center;
  gap: 25px;
}

.login-btn {
  font-size: 1.2rem;
  color: #1e2f23;
  background-color: white;
  border: none;
}
.login-btn:hover {
  color: #34632f;
}
.register-btn {
  background-color: #1e2f23;
  color: white;
  font-weight: bold;
  padding: 12px 18px;
  border-radius: 7px;

  margin-right: 10px;
  border: none;
}

.register-btn2 {
  background-color: #1e2f23;
  color: white;
  font-weight: bold;
  padding: 20px 30px;
  margin: 20px;
  border-radius: 8px;
  border: none;
}

.register-btn:hover {
  background-color: #34632f;
}

.register-btn2:hover {
  background-color: #34632f;
}

/**Login && Registration**/

.Login {
  width: 100%;
  display: flex;
}

.login-to-register p {
  color: #1e2f23;
  cursor: pointer;
}

.login-to-register p:hover {
  color: #34632f;
}

.login-form-container {
  flex: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login form {
  margin: 50px auto;
  padding: 25px 0px;
  width: 60%;
}
.Login input,
textarea,
select {
  outline: none;
  border: 1px solid #bbb;

  margin: 15px 0;
  padding: 5px 0px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 10px;
  display: inline-block;
}
.Login form div label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: rgb(133, 133, 133);
  cursor: pointer;
}

.Login input[type="submit"] {
  margin: 5px 0px;
  background-color: #1e2f23;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.Login input[type="submit"]:hover {
  background-color: #34632f;
}

.login-img {
  flex: 50%;
}

.login-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Registration {
  width: 100%;
  display: flex;
}
.register-to-login {
  font-size: 0.7rem;
  display: flex;
}
.register-to-login p {
  color: #1e2f23;
  margin: 0px 5px;
  cursor: pointer;
}

.register-to-login p:hover {
  color: #34632f;
}

.register-form-container {
  flex: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Registration form {
  margin: 0px auto;
  padding: 25px 10px;
}
.Registration input,
textarea,
select {
  outline: none;
  border: 1px solid #bbb;

  margin: 15px 0px 5px 0px;
  padding: 5px 0px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 10px;
  display: inline-block;
}
.Registration form div label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: rgb(133, 133, 133);
  cursor: pointer;
}

.Registration input[type="submit"] {
  margin: 5px 0px;
  background-color: #1e2f23;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.Registration input[type="submit"]:hover {
  background-color: #34632f;
}
.register-img {
  flex: 50%;
}

.register-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/**Home**/

.Home {
  height: 100vh;
  display: flex;
  width: 100vw;
}

.Main {
  flex: 8;
  height: inherit;
  width: calc(100% - 355px);
  background-color: white;
  overflow-y: scroll;
}

/**Profile**/

.Profile {
  flex: 85%;
  height: calc(100% - 101px);
  padding: 20px 0px;
  overflow-y: scroll;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.profile-pic {
  width: 291px;
}
.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.header-profile-pic {
  cursor: pointer;
}

.header-profile-pic img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.header-profile-pic img:hover {
  border: 1px solid #1e2f23;
}

#profile-search-icon {
  padding: 5px;
  border-radius: 50%;

  color: #1e2f23;
}

.contact-details {
  width: 80%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.profile-picture {
  flex: 1;
}
.profile-content {
  flex: 5;
}
.profile-content input {
  width: 100%;
}
.profile-pic2 label {
  display: flex;
  flex-direction: column;
}
#profile-pic2 {
}

.password-text {
  word-break: break-all;
}

.Profile button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background-color: #1e2f23;
  color: white;
}
.Profile button:hover {
  background-color: #34632f;
}

.name-div h4 {
  color: #1e2f23;
}

.surname-div h4 {
  color: #1e2f23;
}

.email-div h4 {
  color: #1e2f23;
}
.user-pass h4 {
  color: #1e2f23;
}

.hamburger-menu {
  display: none; /* Hidden by default for larger screens */
  cursor: pointer;
}

/** Sidebar **/
.Sidebar {
  flex: 2;
  width: 30%;

  display: flex;
  flex-direction: column;

  text-align: center;
  padding: 50px 5px;
  background-color: #0f0f09;
}

.logo {
  flex: 30%;
  font-size: 1.7rem;
  font-weight: bold;
  color: #34632f;
}
.logo span {
  font-size: 0.9rem;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.add-btn {
  flex: 10%;
}

.logout {
  cursor: pointer;
  color: #59594a;
  font-size: 1.1rem;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout:hover {
  background-color: #34632f;
  border-radius: 0px 15px 15px 0px;
  color: white;
}
.sidebar-links {
  flex: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-links div {
  cursor: pointer;
  color: #59594a;
  font-size: 1.1rem;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-links p {
  width: 100px;
  margin: 0px;
  padding: 0px;
  text-align: start;
}

.sidebar-links div:hover {
  background-color: #34632f;
  border-radius: 0px 15px 15px 0px;
  color: white;
}
/*Header*/
.Header {
  display: flex;

  justify-content: space-evenly;
  align-items: center;

  padding: 5px 25px;
}
.hamburger-menu {
  margin: 5px 0px 5px 20px;
}

.hamburger-menu div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}
.profile-link {
}

.search-div {
  flex: 90%;
  max-width: 500px;
  height: 40px;
  padding: 0px;

  display: flex;
  border-radius: 40px;
  border: 1px solid #d3d3d3;
}

.search-div input[type="search"] {
  flex: 6;
  margin: 0px;
  padding: 0px;
  border: none;
}
.search-div input[type="search"]:focus {
  outline: none;
  border: 1px solid #59594a;
  padding: 0px;
}

#search-icon-div {
  flex: 1;
  height: 100%;
  border-radius: 40px 0px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-icon {
  margin: 0px;
  color: rgb(189, 189, 189);
}

#search-btn {
  flex: 1;
  margin: 0px;
  border-radius: 0px 40px 40px 0px;
  border: none;
}
#search-btn:hover {
  background-color: rgb(216, 216, 216);
}
.search-icon-btn {
  display: none;
}

.Add-div {
  padding: 0px;
  margin: 0px;
}

.Add-div button {
  padding: 10px 30px;
  background-color: #1e2f23;
  border: none;
  color: white;
  margin-right: 15px;
}

.Add-div button:hover {
  background-color: #34632f;
}
#add-btn-long-text {
  padding: 0px;
  margin: 0px;
}
#add-btn-short {
  display: none;
}
.cat-add {
  display: flex;
  justify-content: end;
}
.AddItem {
  padding: 0px;
}

.AddItem .Add-div {
  margin: 0px;
}
.AddItem button {
  background-color: white;
  color: #0f0f09;
  margin: 0px;
  border: 1px solid #3f3f35;
}
.AddItem button:hover {
  color: #34632f;
  background-color: white;
}

.Form {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
  padding: 0px;
  margin: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.form-title-close {
  display: flex;
  justify-content: space-around;
}

.form-close {
  font-size: 2rem;
}

.form-div form {
  margin: 0 auto 0 auto;
  padding: 25px;
  width: 400px;
  height: auto;
  overflow: hidden;
  background-color: white;
}
.form-div form input,
textarea,
select {
  width: 200px;
  margin: 5px 0px;
}
.form-div form input[type="submit"] {
  width: 100%;
}

.form-div form div label {
  display: flex;
  justify-content: space-between;
}

/*Displaylists*/
.DisplayLists {
  height: calc(100% - 100px);
  width: 100%;
}

.DisplayLists .lists-div {
  height: 100%;

  margin: 0px;
  padding: 0px;

  display: flex;

  flex-wrap: wrap;
  gap: 5px;
}

.no-lists {
  margin: 0px auto;
}
.DisplayLists .item {
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  padding: 15px 0px;
  word-wrap: break-word;
  background-color: white;
}

.list-content {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 25px;
  margin: auto;
  box-shadow: 1px 1px 5px #e4e4e4;
  padding: 5px;
  border-radius: 5px;
  border-left: 2px solid #34632f;
}

.list-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  color: #0f0f09;
}
.list-content:hover {
  box-shadow: 1px 1px 5px #dadada;
  border-left: 2px solid #184413;
}
.list-info h6 {
  margin: 0px;
  padding: 0px;
  color: #2e2e26;
  font-weight: 600;
}

.ListCard {
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}
.close {
  background-color: white;
  padding: 0px;
  margin: 5px;
  border: none;
  font-size: 1.2rem;
}
.delete-update {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}
.sort-p {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 0.8rem;
  color: #3f3f35;
}
.sort-p span {
  color: #59594a;
}
.sort-p span:hover {
  color: #979797;
  cursor: pointer;
}
.item-content {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin: 15px auto;
  box-shadow: 1px 1px 5px #e4e4e4;
  border-radius: 5px;
}

.item-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 1px;
}
.item-info h6 {
  margin: 0px;
  padding: 0px;
  font-weight: 600;
}

.item-info img {
  width: 70px;
  height: 70px;
}

.item-info {
  background-color: white;
}
.item-info div {
  word-wrap: break-word;
}
.list-items-info h3 {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
}
.Item .update-form {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  gap: 5px;
}
.Item .update-form input,
textarea,
select {
  width: 100%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bbb;
}
.Item .update-form input:focus {
  border-bottom: 1px solid #3f3f35;
}
.back-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.back-add-div {
  display: flex;
  gap: 45px;
}
.ListCard .img {
  height: 70%;
  background-color: gray;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.ListCard .img img {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.cook-time {
  background-color: white;
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 2px;
  border-radius: 10px;
  font-size: 0.8rem;
}
.ListCard h3 {
  margin: 0px;
}
.ListCard p {
  margin: 0px;
}
.List {
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  text-align: center;

  display: flex;
  flex-direction: column;
}
.back {
  text-align: start;
  margin: 0px 0px 0px 25px;
  cursor: pointer;
  font-size: 1.4rem;
  color: #0f0f09;
}
.back:hover {
  color: #34632f;
}
.category-text {
  margin: 0px;
  padding: 0px;
}
.prep-cook-serve {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.list-sub-head {
  font-weight: 600;
}
.list-sub-head + p {
  font-size: 0.9rem;
}

.list-info h1 {
  margin: 0px;
  padding: 5px 0px;
}

#list-pic {
  max-width: 90%;
  height: 200px;
  border-radius: 20px;
}

.ingredients-div {
  margin-bottom: 25px;
}

.ingredients-text {
  background-color: whitesmoke;

  width: 60%;
  margin: 25px auto;
  border-radius: 20px;
}

.ingredients-div h3 {
  margin: 0px;
}
.instructions-div {
  margin-bottom: 25px;
}
.instructions-text {
  background-color: whitesmoke;

  width: 60%;
  margin: 25px auto;
  border-radius: 20px;
}
.instructions-div h3 {
  margin: 0px;
}

.delete {
  color: #3f3f35;
  background-color: white;
  border: none;
  padding: 10px 15px;
  margin: 0px;
}
.update {
  color: #3f3f35;
  background-color: white;
  border: none;
  padding: 10px 15px;
  margin: 0px;
}
.share {
  border: 1px solid #1e2f23;
  color: #3f3f35;
  background-color: white;
  border: none;
  padding: 10px 15px;
  margin: 0px;
}

.share:hover {
  border: none;
  color: #3f3f35;
  cursor: pointer;
}
.ListCard .update-form {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  gap: 5px;
}
.update-form input,
textarea,
select {
  width: 100%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #bbb;
  margin: 0px 0px;
}
.ListCard .update-form input:focus {
  border-bottom: 1px solid #3f3f35;
}
.Dashboard {
  height: calc(100% - 100px);

  display: flex;
  gap: 25px;
  padding: 5px;
}
.Dashboard h4 {
  color: #1e2f23;
}
.lists-count {
  flex: 1;
  text-align: center;
  color: #0f0f09;
}

.shared-lists {
  flex: 1;
  text-align: center;
  color: #0f0f09;
}
.sharedList p {
  margin: 0px;
}

.sharedList h5 {
  margin: 0px;
}
.lists-number {
  width: 200px;
  padding: 0px 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 5px #e9e9e9;
}

.lists-number .icon {
  font-size: 2.4rem;
  color: #3f3f35;
}
.lists-number h5 {
  color: #3f3f35;
}

.lists-number p {
  color: #979797;
  font-size: 2.5rem;
  font-weight: 600;
}
.lists-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.lists-categories .items {
  flex: 40%;
  box-shadow: 1px 1px 5px #d8d8d8;
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lists-categories .items .icon {
  font-size: 2.4rem;
  color: #3f3f35;
}

.lists-categories h5 {
  color: #3f3f35;
}

.lists-categories p {
  color: #979797;
  font-size: 3.5rem;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}
.error {
  padding: 0px;
  margin: 0px;

  font-size: 0.8rem;
  color: #900;
}
@media (max-width: 1200px) {
  .contact-details {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .Header {
    flex-direction: column-reverse;
  }
  .ham-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .search-div {
    width: 100%;
  }

  .Main {
    width: 100%;
  }

  .hamburger-menu {
    display: block;

    z-index: 2;
  }
  .profile-link {
    display: flex;
    gap: 25px;
  }
  .search-icon-btn {
    display: block;
  }
  .search-div {
    display: none;
  }
  .search-div.active {
    display: flex;
    border: none;
  }
  .Sidebar {
    position: absolute;
    top: 0;
    left: -100%;
    bottom: 0;
    width: 80%;
    z-index: 2;
    padding-top: 6rem;

    align-items: center;
    text-align: center;

    color: black;

    transition: 0.15s ease-in-out;
  }

  .Sidebar.active {
    left: 0;
  }
  .hamburger-menu div {
    background-color: #3f3f35;
  }
  #add-btn-long-text {
    display: none;
  }
  #add-btn-short {
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .Add-div button:hover {
    background-color: white;
  }
  .Login {
    flex-direction: column-reverse;
  }
  .login-form-container {
    flex: 80%;
  }

  .login-img {
    flex: 20%;
    background-color: #bbb;
  }

  .Registration {
    flex-direction: column-reverse;
  }
  .register-form-container {
    flex: 80%;
  }

  .register-img {
    flex: 20%;
    background-color: #bbb;
  }

  .landing-content {
    flex-direction: column-reverse;
  }

  .landing-img {
    flex: 40%;
    height: 10%;
  }

  .landing-img img {
    object-fit: cover;
  }
  .landing-info {
    flex: 60%;
  }
  .login-form-container {
    flex: 60%;
  }

  .login-img {
    flex: 40%;
    height: 10%;
    background-color: #bbb;
  }

  .login-img img {
    width: 100%;
    height: 100%;

    object-position: center;
  }

  .register-form-container {
    flex: 60%;
  }

  .register-img {
    flex: 40%;
    height: 10%;
    background-color: #bbb;
  }

  .register-img img {
    width: 100%;
    height: 100%;

    object-position: center;
  }
}

@media (max-width: 480px) {
  .form-div h3 {
    text-align: center;
    margin: 50px 0px 0px 0px;
  }
  .form-div form {
    width: 75%;
  }
  .form-div form input,
  textarea,
  select {
    width: 100%;
    outline: none;
    border: 1px solid #bbb;
  }
  .form-div form div label {
    display: flex;
    flex-direction: column;
  }
  .form-close {
    margin-top: 25px;
  }

  .Add-div button {
    padding: 15px 30px;
    color: #1e2f23;
    background-color: white;
    border: none;
  }

  .profile-pic {
    margin-top: 20px;
  }
  .search-div {
    border: none;
  }
  .ListCard .update-form {
    display: block;
  }

  .Item .update-form {
    display: block;
  }
  .update-form {
    width: 75%;
  }

  .update-form div label {
    display: flex;
    flex-direction: column;
  }
  .lists-categories .items {
    flex: 90%;
  }

  .list-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .delete-update {
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .item-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .logo-land {
    font-size: 1rem;
  }
  .login-register {
    gap: 5px;
  }
  .item-date div {
    font-size: 0.6rem;
  }
  .item-info img {
    width: 50px;
    height: 50px;
  }
  .notes div {
    word-break: break-all;
    font-size: 0.8rem;
  }
}
